// Breakpoints
/*
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
*/

$screen-mobile-small: 320px;
$screen-mobile-large: 480px;
$screen-tablet: 768px;
$screen-tablet-large: 900px;
$screen-desktop-large: 1280px;


// Colors
$blue-dianne: #1E3945; // Mainly used for headings
$dodger-blue: #1BB3F5; // Mainly used for links
$cutty-sark: #50656E; // Mainly used for text
$grey-nurse: #FAFBFB; // Mainly used for grey backgrounds
$white: #FFFFFF;      // Mainly used for white backgrounds